%h1.profile-header{"data-id" => @online.id, role: 'online'}= @online.title
= link_to "редактировать", user_online_edit_path(@online, username: @online.user.username), style: "display: block; margin-top: -20px;" if current_user == @online.user

.row{style: "margin-top: 20px"}
  .col-xs-3.user-info-block
    = render 'onlines/user_block', user: @online.user
  .col-xs-9
    %h3= link_to @online.event.title, event_path(@online.event)
    %small= @online.description

    = image_tag @online.photo.url, style: "width: 100%;" if @online.photo

-# if current_user can edit online
= render 'messages/form', message: current_user.messages.new(online_id: @online.id) if current_user == @online.user

- #TODO перенести в cell, весь список
%div{role: 'spinner'}

= form_tag '', role: 'last-message-form' do
  = hidden_field_tag :online_id, @online.id

%div.messages-bock{role: 'messages-container'}
  - @online.messages.each do |message|
    = render "messages/single_message", message: message

:javascript
  pullMessages();