.new_message-form
  = simple_form_for message, url: messages_path, html: {role: 'message-form'} do |f|
    = f.input :user_id, as: :hidden
    = f.input :online_id, as: :hidden
    .form-group
      = f.input_field :body, role: 'message-body', class: 'form-control', placeholder: 'Новое сообщение'
      %p{role: 'message-body-errors'}
  %p
    Загрузить фото
    = simple_form_for Photo.new, url: photos_path do |f|
      = f.input_field :message_id, as: :hidden, value: message.id
      = f.input_field :event_id, as: :hidden, value: message.online.event_id
      = f.input_field :online_id, as: :hidden, value: message.online_id
      = f.file_field :file, multiple: true, name: "photo[file]", accept: "image/*;capture=camera"
    #photos

      %script#template-upload{:type => "text/x-tmpl"}
        .upload
          {%=o.name%}
          .progress
            .progress-bar{style: "width: 0%"}

  %a.btn.btn-primary.pull-right{role: "submit-message"} Отправить




