%h1= @online.title
= link_to @online.event.title, event_path(@online.event)
%p= @online.description
%p= image_tag @online.photo.url(:thumb) if @online.photo

= render 'my/messages/form', message: @message unless "#TODO user have permissions".empty?

- #TODO перенести в cell, весь список
%div{role: 'spinner'}
%ul{role: 'messages-container'}
  - @online.messages.each do |message|
    = render "my/messages/single_message", message: message