%h1
  = @event.title
  = link_to "Создать онлайн", new_online_path(event_id: @event.id), class: "btn btn-success pull-right" if current_user

%p
  %i= @event.description

%h4 Последние сообщения
- @last_messages.each do |message|
  %p
    %strong= I18n.l message.created_at, format: date_format_messages(message.created_at)
    = link_to "#{message.user.username}", user_path(username: message.user.username)
    = render "messages/single_message", message: message

%h3 Онлайны
- @onlines.each do |online|
  %p
    = image_tag(online.photo.thumb.url)
    = online.title
    = link_to "Читать онлайн", online_path(online, username: online.user.username)
    %p
      Автор онлайна:
      = link_to "#{online.user.username}", user_path(username: online.user.username)

.pager
  = paginate @onlines