= simple_form_for @user, url: update_profile_path(username: @user.username), method: :put do |f|
  = f.input :full_name
  = f.input :bio
  = f.input :avatar, as: :file, :hint => f.template.image_tag(f.object.avatar.url(:thumb))
  %p
    Удалить аватар #{f.check_box :remove_avatar}
  = f.input :website
  = f.input :twitter
  = f.submit